/.phpunit.cache
config/database.php
public/storage
/storage/*.key
vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
.editorconfig
composer.lock
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
Thumbs.db
